<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Jeopardy Style Review!

_Author: Tucker Allen | DSI-NYC | August 2018_ <br/>
_Edited: TBD | TBD | TBD_

---

### Some light review of DSI material up to the end of Week 5. Everything is fair game!

In [1]:
import pandas as pd

In [2]:
# Instantiate the starting board
values = ['$200', '$400', '$600', '$800', '$1000']

board = pd.DataFrame()
board['Data Science'] = values
board['Ensemble Methods'] = values
board['Potent Potables'] = values
board['Yay, Data Science'] = values
board['S Words'] = values

In [3]:
# Function to take selected Category and Value off the board
def selection(category, value):
    my_map = {'$200':0, '$400':1, '$600':2, '$800':3, '$1000':4}
    board.loc[my_map[value], category] = '---'
    display(board)
    return

In [4]:
# Present the opening board
board

  Data Science Ensemble Methods Potent Potables Yay, Data Science S Words
0         $200             $200            $200              $200    $200
1         $400             $400            $400              $400    $400
2         $600             $600            $600              $600    $600
3         $800             $800            $800              $800    $800
4        $1000            $1000           $1000             $1000   $1000

In [30]:
# Show this board for the remainder of the game after the opening question. Ctrl+Enter to execute and stay on cell
selection('Potent Potables', '$800')

  Data Science Ensemble Methods Potent Potables Yay, Data Science S Words
0          ---              ---             ---               ---    $200  NaN
1          ---              ---             ---               ---     ---  ---
2          ---              ---             ---               ---     ---  NaN
3          ---              ---             ---               ---     ---  NaN
4          ---              ---             ---               ---     ---  NaN

### Instructor Notes:
- The questions and answers are in questions.txt, there's probably a more efficient way of storing/referencing them, but that's just what I came up with on the fly.
<br><br>
- Up to you, but in NYC, I split 16 students up into 4 teams of 4. Only one person is eligible to buzz in/answer from each team at a time (rotates clockwise with each question).
<br><br>
- Start a Slack thread. Copy the question into the thread, read it aloud, and then press enter. The first slack response ("buzz" or whatever) from an eligible person may respond for their team.
<br><br>
- We kept score on the whiteboard. You can decide whether to dock points for not giving answers in the form of a question (we had a lot of heated opinions about this).
<br><br>
- Wish I had time to add Daily Double Functionality!